
$font-style: 'Caveat', cursive;
$font-main: 'Noto Serif', serif;
$color-style: rgb(13, 156, 175);

body {
      font-family: $font-main;
      font-size: 12px;
      text-align: center;
}

.nav {
      position: absolute;
      right: 15%;
      font-size: 11px;
      text-transform: uppercase; 
  }
  
.nav ul {
      display: flex;
      list-style-type: none;
      padding-top: 19px;
}
  .nav a {
      text-decoration: none;
      padding: 10px;
      color: antiquewhite;
}

